{
  "extends": ["airbnb", "prettier"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "linebreak-style": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/forbid-prop-types": "off"
  }
}
